<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>标签管理</title>
    <div th:replace="base"></div>
</head>
<body>

<a href="add">添加标签</a>


<table border="1" width="100%">
    <tr>
        <th>序号</th>
        <th>标签</th>
        <th>操作</th>
    </tr>

    <tr th:each="tag, itar : ${tags}">
        <td th:text="${itar.index}"/>
        <td th:text="${tag.name}"/>
        <td>
            <a th:href="@{update(id=${tag.id})}">修改</a>
            <a th:href="@{delete(id=${tag.id})}">删除</a>
        </td>
    </tr>
</table>



</body>
</html>