<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图片管理</title>
    <div th:replace="base"></div>
</head>
<body>


<a href="add">添加图片</a>
<a href="list">所有</a>
<a href="list?status=0">图片未审核</a>
<a href="list?status=1">图片下架</a>
<a href="list?status=2">图片上架</a>
<a href="list?status=0&type=gif">动图未审核</a>
<a href="list?status=1&type=gif">动图下架</a>
<a href="list?status=2&type=gif">动图上架</a>
<table border="1" width="100%">
    <tr>
        <th>编号</th>
        <th>图片</th>
        <th>大小</th>
        <th>描述</th>
        <th>标签</th>
        <th>类型</th>
        <th>状态</th>
        <th>推荐级别</th>
        <th>操作</th>
    </tr>
    <tr th:each="image, itar: ${images}">
        <td th:text="${image.id}"></td>
        <td><img th:width="300px" th:src="${image.url}"></td>
        <th th:text="${image.size + 'kb'}"></th>
        <td th:text="${image.description}"></td>
        <td>
            <span th:each="tag: ${image.tags}" th:text="${tag.name}"></span>
        </td>
        <td th:text="${image.suffix}"></td>

        <th th:if="${image.status==0}" th:text="未审核"></th>
        <th th:if="${image.status==1}" th:text="下架"></th>
        <th th:if="${image.status==2}" th:text="上架"></th>


        <td th:text="${(image.star ==null ? '1' : image.star) + '星'}"></td>
        <td>
            <a th:if="${image.status==0 || image.status==1}" th:href="@{onLine(id=${image.id}, pno=${pno}, status=${status})}">上架</a>
            <a th:if="${image.status==0 || image.status==2}" th:href="@{offLine(id=${image.id}, pno=${pno}, status=${status})}">下架</a>
            <a th:if="${image.status!=0}" th:href="@{unCheck(id=${image.id}, pno=${pno}, status=${status})}">未审核</a>
            <a th:href="@{update(id=${image.id})}">修改</a>
            <a th:href="@{delete(id=${image.id}, pno=${pno}, status=${status})}">删除</a>
        </td>
    </tr>
</table>

<!-- 分页 -->
<div th:replace="pager"></div>


</body>
</html>