<style>
    .footer {
        width: 100%;
        margin-top: 60px;
        border-top: 1px solid #d4d4d4;
    }

    .footer .container {
        padding: 40px 0 50px;
    }

    .footer p {
        line-height: 30px;
        text-align: center;
        color: #999;
    }

    .footer a:hover {
        font-weight: 700;
        cursor: pointer;
        color: #229aff;
    }
</style>

<footer class="footer">
    <div class="container">
        <p>
            邮箱：<a>sinaq@staff.sina.com.cn</a> 电话：010-62675371 <a>新浪科技意见反馈留言板</a> 欢迎批评指正
        </p>
        <p>
            <a>新浪简介</a> | <a>About Sina</a> | <a>广告服务</a> | <a>联系我们</a> | <a>招聘信息</a> | <a>网站律师</a> | <a>SINA English</a> | <a>通行证注册</a> | <a>产品答疑</a>
        </p>
        <p>
            Copyright © 1996-2018 SINA Corporation, All Rights Reserved
        </p>
    </div>
</footer>