<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>每日趣图</title>
    <div th:replace="base"/>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="js/index.js"></script>
</head>

<body>
<header class="header">
    <div class="container" >
        <div class="logo fl"> </div>
        <div class="user fr">
            <div class="avatar fl"><a><img src="http://www.sinaimg.cn/ent/deco/2014/0311/images/sc_pic_loginImage.png"></a></div>
            <div class="login fl"><a>登陆</a></div>
            <div class="register fl"><a>注册</a></div>
        </div>
        <div class="search fr">
            <form action="#">
                <input type="text">
                <button type="submit"></button>
            </form>
        </div>
        <nav class="fr">
            <ul>
                <li><a>新浪探索</a></li>
                <li><a>新浪科技</a></li>
                <li><a>新浪首页</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="main container clearf">
    <div class="content fl" id="container">
        <figure class="clearf" th:each="image : ${images}">
            <nav class="tag">
                <ul>
                    <li th:each="tag : ${image.tags}"><a th:text="${tag.name}"></a></li>
                </ul>
            </nav>
            <img th:attr="src=${image.url}">
            <h2 class="title" th:text="${image.description}"></h2>
            <div class="feedback fl">
                <div class="like fl">
                    <i class="fa fa-thumbs-up"></i>
                    <span class="">509</span>
                </div>
                <div class="comment fr">
                    <i class="fa fa-comments"></i>
                    <span class="">59</span>
                </div>
            </div>
            <div class="share fr">
                <div class="weixin fr">
                    <i class="fa fa-weixin"></i>
                </div>
                <div class="weixin fr">
                    <i class="fa fa-weibo"></i>
                </div>
            </div>
        </figure>

        <!-- 分页 -->
        <div th:replace="pager"></div>
    </div>
    <div class="sidebar fr">
        <nav class="tag">
            <h2 class="title">标签</h2>
            <ul>
                <li th:each="tag:${tags}" th:if="${tag.images.size()!=0}"><a th:text="${tag.name}"></a></li>
            </ul>
        </nav>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>
            邮箱：<a>sinaq@staff.sina.com.cn</a> 电话：010-62675371 <a>新浪科技意见反馈留言板</a> 欢迎批评指正
        </p>
        <p>
            <a>新浪简介</a> | <a>About Sina</a> | <a>广告服务</a> | <a>联系我们</a> | <a>招聘信息</a> | <a>网站律师</a> | <a>SINA English</a> | <a>通行证注册</a> | <a>产品答疑</a>
        </p>
        <p>
            Copyright © 1996-2018 SINA Corporation, All Rights Reserved
        </p>
    </div>
</footer>
</body>

</html>